.elementor-11071
  .elementor-element.elementor-element-60742f6a:not(.elementor-motion-effects-element-type-background),
.elementor-11071
  .elementor-element.elementor-element-60742f6a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f0f0f0;
}
.elementor-11071 .elementor-element.elementor-element-60742f6a {
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #ffffff;
  box-shadow: 19px 19px 7px 1px rgba(97.33125686645508, 0, 0, 0.17);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 10px 10px 10px 10px;
  z-index: 0;
}
.elementor-11071
  .elementor-element.elementor-element-60742f6a
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-11071 .elementor-element.elementor-element-25736ae {
  text-align: center;
}
.elementor-11071
  .elementor-element.elementor-element-25736ae
  .elementor-heading-title {
  font-weight: 500;
}
.elementor-11071
  .elementor-element.elementor-element-6e4d56b0
  .elementor-field-group {
  padding-right: calc(10px / 2);
  padding-left: calc(10px / 2);
  margin-bottom: 10px;
}
.elementor-11071
  .elementor-element.elementor-element-6e4d56b0
  .elementor-form-fields-wrapper {
  margin-left: calc(-10px / 2);
  margin-right: calc(-10px / 2);
  margin-bottom: -10px;
}
.elementor-11071
  .elementor-element.elementor-element-6e4d56b0
  .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-11071
  .elementor-element.elementor-element-6e4d56b0
  .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}
body.rtl
  .elementor-11071
  .elementor-element.elementor-element-6e4d56b0
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-left: 0px;
}
body:not(.rtl)
  .elementor-11071
  .elementor-element.elementor-element-6e4d56b0
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-right: 0px;
}
body
  .elementor-11071
  .elementor-element.elementor-element-6e4d56b0
  .elementor-labels-above
  .elementor-field-group
  > label {
  padding-bottom: 0px;
}
.elementor-11071
  .elementor-element.elementor-element-6e4d56b0
  .elementor-field-type-html {
  padding-bottom: 0px;
}
.elementor-11071
  .elementor-element.elementor-element-6e4d56b0
  .elementor-field-group
  .elementor-field {
  color: #000000;
}
.elementor-11071
  .elementor-element.elementor-element-6e4d56b0
  .elementor-field-group
  .elementor-field,
.elementor-11071
  .elementor-element.elementor-element-6e4d56b0
  .elementor-field-subgroup
  label {
  font-family: "Poppins", Sans-serif;
}
.elementor-11071
  .elementor-element.elementor-element-6e4d56b0
  .elementor-field-group
  .elementor-field:not(.elementor-select-wrapper) {
  background-color: #ffffff;
}
.elementor-11071
  .elementor-element.elementor-element-6e4d56b0
  .elementor-field-group
  .elementor-select-wrapper
  select {
  background-color: #ffffff;
}
.elementor-11071
  .elementor-element.elementor-element-6e4d56b0
  .elementor-button {
  font-family: "Poppins", Sans-serif;
}
.elementor-11071
  .elementor-element.elementor-element-6e4d56b0
  .e-form__buttons__wrapper__button-next {
  background-color: #c80000;
  color: #ffffff;
}
.elementor-11071
  .elementor-element.elementor-element-6e4d56b0
  .elementor-button[type="submit"] {
  background-color: #c80000;
  color: #ffffff;
}
.elementor-11071
  .elementor-element.elementor-element-6e4d56b0
  .elementor-button[type="submit"]
  svg
  * {
  fill: #ffffff;
}
.elementor-11071
  .elementor-element.elementor-element-6e4d56b0
  .e-form__buttons__wrapper__button-previous {
  color: #ffffff;
}
.elementor-11071
  .elementor-element.elementor-element-6e4d56b0
  .e-form__buttons__wrapper__button-next:hover {
  color: #ffffff;
}
.elementor-11071
  .elementor-element.elementor-element-6e4d56b0
  .elementor-button[type="submit"]:hover {
  color: #ffffff;
}
.elementor-11071
  .elementor-element.elementor-element-6e4d56b0
  .elementor-button[type="submit"]:hover
  svg
  * {
  fill: #ffffff;
}
.elementor-11071
  .elementor-element.elementor-element-6e4d56b0
  .e-form__buttons__wrapper__button-previous:hover {
  color: #ffffff;
}
.elementor-11071
  .elementor-element.elementor-element-6e4d56b0
  .elementor-message {
  font-family: "Poppins", Sans-serif;
}
.elementor-11071 .elementor-element.elementor-element-6e4d56b0 {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #ffffff;
  --e-form-steps-indicator-active-secondary-color: #ffffff;
  --e-form-steps-indicator-completed-secondary-color: #ffffff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}
@media (max-width: 1024px) {
  .elementor-11071 .elementor-element.elementor-element-60742f6a {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
